@import '../config/base';
@import '../config/variables';
@import '../config/fonts';
@import '../config/mixin';

.flex-b-items {
    display: flex;
    gap: 1em;
    margin-left: 13.8em;
    margin-top: -12em;
    @include borderBottom(1px, #000);
    width: 40%;

    .text-basket {
        margin-left: -1.8em;
    }
    

    .text-items {
        margin-left: 10em;
        margin-top: 10.4em;
        position: absolute;
    }    
}
