@font-face {
    font-family: 'text';
    src: url('../../../assets/fonts/Newsreader-Italic-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family: 'text2';
    src: url('../../../assets/fonts/Newsreader_24pt-ExtraLightItalic.ttf');
}

@font-face {
    font-family: 'text3';
    src: url('../../../assets/fonts/Newsreader-VariableFont_opsz\,wght.ttf');
}